

#################################################################
###       For any env using in web app, please add VITE_      ###
### Refer document https://vitejs.dev/guide/env-and-mode.html ###
#################################################################

# COMMON
## Web app port, default is 4001
VITE_WEB_APP_PORT=4001

# SERVER
## Server API url, default is localhost:3000
VITE_SERVER_API_URL="http://localhost:3000"
## Server notify socket url, default is localhost:3555
VITE_SERVER_NOTIFY_API_URL="localhost:3555"


# TESTING
## CYPRESS
### Cypress base url
CYPRESS_BASE_URL=localhost:4002"
